<div class="container-fluid">
	<!-- Browse -->
	<div class="row browse-wrapper">
		<div class="search-form-div col-md-6">
			<form class="search-form" action="">
				<label for="search-query"class="sr-only">Search</label>
				<input class="search-query-input" id="search-query" type="search" name="query" placeholder="Book title, author, ...">
				<button class="btn btn-search-query" type="submit" name="button">Search</button>
			</form>
		</div>
		<!-- Browse -->
		<div class="browse-form-div col-md-6">
			<div class="browse-form">
				<div class="dropdown">
					<button class="btn btn-browse dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categories
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Fiction</a>
						<a class="dropdown-item" href="#">Non-Fiction</a>
						<a class="dropdown-item" href="#">Travel</a>
						<a class="dropdown-item" href="#">Art</a>
						<a class="dropdown-item" href="#">Science-Fiction</a>
						<a class="dropdown-item" href="#">Memoir</a>
						<a class="dropdown-item" href="#">Self-Help</a>
						<a class="dropdown-item" href="#">Drama</a>
						<a class="dropdown-item" href="#">Novel</a>
						<a class="dropdown-item" href="#">Literature</a>
					</div><!--dropdown-menu-->
				</div><!--dropdown-->
			</div><!--browse-form-->
		</div><!--browse-->
	</div>
</div>
