<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container-fluid">
	<div class="img-form row">
		<div class="col-md-6">
			<img class="img-fluid" src="https://images.unsplash.com/photo-1501622130202-7987a9ff9ec0?ixlib=rb-0.3.5&s=04d90b87fae77afa4f0949ad6d872d6b&auto=format&fit=crop&w=802&q=80" alt="book and glasses">
		</div>

		<div class="col-md-6">
			<div class="form-wrapper">
				<h3 class="text-center">Edit comment</h3>
				<form action="/books/<%=book_id%>/comments/<%=comment._id%>?_method=PUT" method="post" class="form">
					<div class="form-group">
						<label for="comment">
							Comment
						</label>
						<textarea autofocus class='form-control' name="comment[text]" id="comment"><%= comment.text %></textarea>
					</div><!--Title-->
					<div class="form-group">
	          <button class="btn btn-large btn-primary btn-block">Update</button>
	        </div>
				</form>
			</div><!-- form -->
		</div>
	</div><!-- row -->
</div><!-- container -->

<% include ../partials/footer %>
