:root {
	--base: #FBB631;
	--base-dark: #d37b00;
	--accent: #189F98;
	--light-grey: #F6F6F6;
	--body-text: #333;
	--light-brown: #61594F;
	--dark-brown: #5A4636;
}
/* blue: #38618C
	red: #D34E52
	light grey: #F6F6F6

*/
/* ========== COMPONENTS ========== */
html {
	position: relative;
	/* min-height: 100vh; */
}

a {
	color: var(--base-dark);
}

a:active {
	color: var(--accent);
}

.img-form {
	height: 100vh;
	overflow: hidden;
}

.img-form .col-md-6 {
	padding: 0;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
}

.user-form-wrapper {
	margin-top: 20vh;
}

.form {
	flex: 1 0 auto;
}

.hero {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.blockquote {
	font-style: italic;
}

.page-wrapper {
	margin-bottom: 70px;
}

/* ========== NAVBAR ========== */
.navbar {
	padding: 10px;
}

.navbar-inverse {
	background-color: var(--base);
}

a.navbar-brand {
	color: var(--body-text);
	font-size: 2rem;
	margin-left: 2rem;
	font-weight: bold;
}

a.nav-link {
	color: var(--body-text);
	font-weight: 600;
}

.navbar-nav {
	flex-direction: row;
}

.nav-item {
	margin-right: 2rem;
}

/* ========== BUTTONS ========== */
.btn-primary {
	background-color: var(--accent);
	border: none;
}

.btn-primary:hover {
	background-color: var(--accent);
}

.btn-info {
	background-color: var(--accent);
	border-color: var(--accent);
}

.btn-search {
	background-color: transparent;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin-right: 5px;
	padding: 10px 15px;
	transition: all .2s ease-in-out;
}

.btn-search:hover {
	border: 1px solid var(--body-text);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.btn-link-inline {
	border: none;
	font-weight: 500;
	color: var(--body-text);
	border-bottom: 1px dotted gray;
	cursor: pointer;
}

.btn-link-inline:hover {
	border-bottom: 1px dotted var(--accent);
	text-decoration: none;
	color: var(--accent);
}

.btn.btn-browse {
	width: 100%;
	background-color: var(--dark-brown);
	color: #fff;
}

.btn.btn-browse:focus {
	box-shadow: none;
}

.btn.btn-query {
	background-color: var(--dark-brown);
	color: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn.btn-query:hover {
	background-color: #8c7563;
}

/* ========== JUMBOTRON ========== */

.jumbotron {
	background-color: var(--light-grey);
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

.search {
	width: 65%;
}

.search-form {
	display: flex;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.fa-search {
	font-size: 1.3rem;
	margin-right: 10px;
}

.search-input-wrapper {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.search-input-wrapper label {
	padding-top: 10px;
	padding-left: 10px;
}

.search-button-wrapper {
	flex-shrink: 0;
}

#search-input {
	flex-grow: 1;
	width: 100%;
	background: none;
	border: none;
	padding: 14px;
	outline: none;
}



/* ========== FEATURE ========== */
.feature{
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.steps {
	margin: 5rem auto;
	text-align: center;
}

.steps h4 {
	font-size: 2rem;
	color: var(--base-dark);
}

.our-story {
	background-color: var(--light-grey);
	padding: 5rem;
}

/* ========== NEWSLETTER ========== */
.newsletter {
	padding: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-group {
	width: 60%;
}

input.btn.btn-lg {
	border-bottom: 1px solid var(--body-text);
}

/* ========== BOOK INDEX ========== */
.book-container {
	border-right: 1px dotted gray;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-bottom: 1.563rem;
}

.book-container:nth-child(4n) {
	border-right: none;
}

.browse-wrapper {
	background-color: var(--light-brown);
	padding: 10px;
}

.browse-wrapper .col-md-6:first-of-type {
	border-right: 1px dotted #fff;
}

.dropdown-menu {
	width: 100%;
}

.query-form {
	display: flex;
	justify-content: space-between;
}

input.query-input {
	width: 100%;
	outline: none;
	border: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 7px;
}

.book-thumbnail {
	width: 140px;
	height: 200px;
	margin-bottom: 2rem;
}

.book-title {
	font-size: 18px;
}

.book-title a {
	color: var(--accent);
}

.book-summary {
	font-size: 14px;
}

.summary a {
	text-decoration: underline;
	font-size: 15px;
	display: block;
	font-weight: 500;
}

.hero h2 {
	margin-bottom: 2rem;
}

/* ========== SINGLE BOOK ========== */
.single-book-title {
	color: var(--base-dark);
}

.books-wrapper {
	margin-bottom: 5rem;
}

.single-book-wrapper {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.list-group-item.active {
	background-color: var(--accent);
	border-color: var(--accent);
}

.delete-form {
	margin-left: 10px;
}

.comments-wrapper {
	padding-top: 2rem;
	margin-bottom: 5rem;
}

.comment-username {
	font-weight: bold;
	color: var(--base-dark);
}

.add-comment {
	margin-bottom: 2rem;
	font-weight: 500;
}

.comment-box {
	border-bottom: 1px dotted gray;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.comment-box:last-of-type {
	border-bottom: none;
}

/* ========== FOOTER ========== */
.footer {
	position: absolute;
	bottom: 0;
	padding: 1.5rem;
	background-color: var(--light-brown);
	color: #fff;
	font-size: 14px;
}

.footer .col-md-6 {
	text-align: center;
}




/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 768px) {
	.dropdown {
		margin-top: 1rem;
	}
}
